body {
  margin: 0;
  background-color: #f7f2f2;
  background-image: url('images/main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 725px;
  width: 559px;
}

.container {
  position: absolute;
  display: block;
  width: 300px;
  height: 300px;
}

.main-img {
  display: block;
  margin: 40px auto;
  border: 2px solid white;
}

.fb-img-wrapper {
  position: absolute;
  top: 190px;
  left: 50px;
  width: 100px;
  height: 100px;
}

.fb-link {
  width: 67px;
  height: 67px;
  position: absolute;
  left: 113px;
  top: 105px;
  border-radius: 50%;
  z-index: 2;
}

.appstore-img-wrapper {
  position: absolute;
  top: 290px;
  left: 50px;
}

.appstore-link {
  width: 213px;
  height: 74px;
  position: absolute;
  left: 39px;
  top: 106px;
  border-radius: 10px;
  z-index: 2;
}

.googleplay-img-wrapper {
  position: absolute;
  top: 390px;
  left: 50px;
}
.googleplay-link {
  width: 213px;
  height: 74px;
  position: absolute;
  left: 44px;
  top: 105px;
  border-radius: 10px;
  z-index: 2;
}
